{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Registro</title>
    <!-- Enlace a Bootstrap CSS -->
    <link href="{% static 'css/bootstrap.min.css' %}" rel="stylesheet">
</head>
<body class="bg-light">
    <div class="container">
        <h2 class="text-center mt-5">Registro de Usuario</h2>
        <form method="POST" class="mt-4 border p-4 bg-white rounded shadow">
            {% csrf_token %}
            {% if form.non_field_errors %}
                <div class="alert alert-danger">
                    {{ form.non_field_errors }}
                </div>
            {% endif %}
            {{ form.as_p|safe }}
            {% for field in form %}
                {% for error in field.errors %}
                    <div class="alert alert-danger">
                        {{ error }}
                    </div>
                {% endfor %}
            {% endfor %}
            <button type="submit" class="btn btn-primary w-100">Registrarse</button>
        </form>
    </div>

    <!-- Enlace a Bootstrap JS y Popper.js -->
    <script src="{% static 'js/popper.min.js' %}"></script>
    <script src="{% static '/js/bootstrap.min.js' %}"></script>
</body>
</html>