{% extends "admin/base_site.html" %}
{% load i18n admin_urls static admin_list jazzmin %}

{% block extrahead %}
    {{ block.super }}
    {{ media.js }}
{% endblock %}



{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-lg-8">
            <div class="card shadow-lg">
                <div class="card-header">
                    <h3 class="text-center">{% if form.instance.pk %}Editar{% else %}Agregar{% endif %} Comentario</h3>
                </div>
                <div class="card-body">
                    <form method="post">
                        {% csrf_token %}
                        <div class="form-group">
                            <label>Libro:</label>
                            <p class="form-control-static">{{ libro.titulo }}</p>
                        </div>
                        <div class="form-group">
                            <label>Suscriptor:</label>
                            <p class="form-control-static">{{ suscriptor.nombre }}</p>
                        </div>
                        <div class="form-group">
                            <label for="{{ form.comentario.id_for_label }}">Comentario:</label>
                            {{ form.comentario }}
                            {% if form.comentario.errors %}
                                <div class="alert alert-danger">
                                    {{ form.comentario.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="form-group">
                            <label for="{{ form.puntuacion.id_for_label }}">Puntuación (1-5 estrellas):</label>
                            {{ form.puntuacion }}
                            {% if form.puntuacion.errors %}
                                <div class="alert alert-danger">
                                    {{ form.puntuacion.errors }}
                                </div>
                            {% endif %}
                        </div>
                        <div class="text-center">
                            <button type="submit" class="btn btn-primary">
                                {% if form.instance.pk %}Actualizar{% else %}Guardar{% endif %}
                            </button>
                            <a href="{% url 'tabla_comentarios' %}" class="btn btn-secondary">Cancelar</a>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
