{% extends "biblioteca/blank.html" %}

{% block content %}
<h3>
    Usuarios Eventuales
</h3>

<a href="{% url 'addusuarios_eventuales'  %}" class="btn btn-success btn-icon-split m-4 shadow-sm">
                                        <span class="icon text-white-50">
                                            <i class="fas fa-plus"></i>
                                        </span>
                                        <span class="text">Agregar</span>
                                    </a>

<table  class="table table-bordered shadow-sm" width="100%" cellspacing="0">
    <thead>
        <tr>
            <th>
                Nombre de Usuario
            </th>
             <th>
                Fecha
            </th>
            <th>
                Caduco
            </th>
            <th>
                Accion
            </th>
        </tr>
    </thead>
    <tbody>
    {% for usuario in  usuarios %}
        <tr>
            <td>{{ usuario.nombre }}</td>
             <td>{{ usuario.fecha }}</td>
             <td>{{ usuario.caduco }}</td>
            <td><a href="{% url 'editarusuarios_eventuales' usuario.id  %}" class="btn btn-success btn-circle btn-sm mr-2">
                                        <i class="fas fa-check"></i>
                                    </a><a href="{% url 'delete_usuario_eventual' usuario.id  %}"  class="btn btn-danger btn-circle btn-sm">
                                        <i class="fas fa-trash"></i>
                                    </a>
            </td>

        </tr>
    {% endfor %}
    </tbody>
</table>

{% endblock %}