{% extends "admin/change_list.html" %}
{% load i18n %}

{% block object-tools-items %}
    {% if show_calcular_button %}
    <li>
        <form action="{% url 'admin:calcular-libro-mes' %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-high btn-success" style="margin-right: 5px;">
                {% translate "Calcular Libro del Mes" %}
            </button>
        </form>
        <form action="{% url 'admin:libro-cards-mes' %}" method="POST" style="display: inline;">
            {% csrf_token %}
            <button type="submit" class="btn btn-high btn-success" style="margin-right: 5px;">
                Ver Como Tarjetas
            </button>
        </form>
    </li>
    {% endif %}
    {{ block.super }}
{% endblock %}
